<p>products works!</p>

<!-- 
<input type="text" [(ngModel)]="productName" id="productName">
<input type="text" [(ngModel)]="productComment" id="productComment">
<button (click)="addProduct()">Add</button>
 -->

<!-- <form (ngSubmit)="addProduct(ff)" #ff="ngForm">
    <input type="text" ngModel name="productName">
    <input type="text" ngModel name="productComment">
    <button type="submit">Add</button>
</form> -->

<form (ngSubmit)="onAddProduct(f)" #f="ngForm">
    <input type="text" ngModel name="productName" required>
    <input type="text" ngModel name="productComment">
    <button type="submit">Add</button>
  </form>


<hr>
<!-- this is testing local product -->
    <ol><li *ngFor="let product of products">{{product}}</li>
    </ol>

<!-- this was moved to app-list -->
<!-- <hr><app-product *ngFor="let product of products" [products]="product"></app-product> -->

<hr>
<app-list></app-list>
